In [1]:
print('hello')

hello

In [ ]:
# function 
# 1. in built function
# 2. user defined function

In [4]:
lst = [ 2,5,4,8,96,5,4,7,8,2]
max(lst)

96

In [6]:
# user defined function without parameter
def functin_1():
    print('hello welcome')


functin_1()

hello welcome

In [7]:
def add(num1 , num2):
    output = num1 + num2
    print(output)

add(5,5)

10

In [8]:
add(80,20)

100

In [35]:
# input  -->   fun(1,2)   --->  output 



def add(num1 , num2):
    output = num1 + num2
    return output




a = add(2,3)

In [47]:
# total sum of all even numbers
square


def fun(num):
    temp = 0 
    for item in num:
        if item % 2 == 0:
            temp = temp + item**2
            
    return temp
output = fun([25,45,5,8,52,6,5,45,74,85,9,12])
print(output)

152

In [ ]:
**2

In [41]:
lst = [25,45,5,8,52,6,5,45,74,85,9,12]
lst[0] % 2 ==0

False

In [13]:
print('Hello world')

TypeError: 'int' object is not callable

In [14]:
print("Hello, World!")

TypeError: 'int' object is not callable

In [65]:
def target_position_finder(lst , target):

    for position ,item in enumerate(lst):
        if item == target:
            print(item , position)

        


        

lst = [25,45,5,8,52,6,5,48,48,74,85,9,12]
target = 45
target_position_finder(lst,target)

45 1

In [ ]:
time complexity 
space complexity

In [ ]:
### LIST COMPREHENSION

In [66]:
lst = [25,45,5,8,52,6,5,48,48,74,85,9,12]

temp = []
for item in lst:
    temp.append(item**2)
    
temp

[625, 2025, 25, 64, 2704, 36, 25, 2304, 2304, 5476, 7225, 81, 144]

In [67]:
[item**2 for item in lst]

[625, 2025, 25, 64, 2704, 36, 25, 2304, 2304, 5476, 7225, 81, 144]

In [68]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
temp = []
for fruit in fruits:
    temp.append(fruit[0])

temp

['a', 'b', 'c', 'k', 'm']

In [70]:
new_list = [fruit[0] for fruit in fruits]
new_list

['a', 'b', 'c', 'k', 'm']

In [ ]:
lambda 

2+5
56*5
14/5

In [77]:
lst = [625, 2025, 25, 64, 2704, 36, 25, 2304, 2304, 5476, 7225, 81, 144]

lst2 = ["odd" for item in lst if item %2 != 0]    
lst2

['odd', 'odd', 'odd', 'odd', 'odd', 'odd']

In [78]:
lst = [625, 2025, 25, 64, 2704, 36, 25, 2304, 2304, 5476, 7225, 81, 144]

lst3 = ["odd" if item %2 != 0 else "even" for item in lst ]    
lst3

['odd',
 'odd',
 'odd',
 'even',
 'even',
 'even',
 'odd',
 'even',
 'even',
 'even',
 'odd',
 'odd',
 'even']

In [80]:
lst = [625, 2025, 25, 64, 2704, 36, 25, 2304, 2304, 5476, 7225, 81, 144]

lst3 = ["odd" if item %2 != 0 else "even"  for item in lst ]    
lst3

['odd',
 'odd',
 'odd',
 'even',
 'even',
 'even',
 'odd',
 'even',
 'even',
 'even',
 'odd',
 'odd',
 'even']

In [83]:
lst = (625, 2025, 25, 64, 2704, 36, 25, 2304, 2304, 5476, 7225, 81, 144)

tpl = ("odd" if item %2 != 0 else "even"  for item in lst )

In [85]:
tuple(tpl)

('odd',
 'odd',
 'odd',
 'even',
 'even',
 'even',
 'odd',
 'even',
 'even',
 'even',
 'odd',
 'odd',
 'even')